.upcoming_selectors {
    border: 1px solid gray;
    border-radius: 5px;
    float: right;
    margin: 10px 10px 0 0;
    opacity: 0.75;
    padding: 0 1px;
    position: relative;
    z-index: 5;
}

.upcoming_selector {
    background: none repeat scroll 0 0 #008;
    border: 2px solid gray;
    border-radius: 4.5px;
    cursor:pointer;
    float: left;
    height: 10px;
    margin: 4.5px;
    width: 10px;
}