.events_slideshow {
    position: relative;
}

#event_pics {
    border: 2px solid #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    height: 315px;
    width: 674px;
    padding: 8px;
    background:#fff;
}

#event_pics .event {
    height: auto;
    position: absolute;
    width: inherit;
    /*display:none;*/
    cursor:pointer;
    z-index: -1;
}

#event_pics img {
    width: 674px;
    height:315px; 
}

#event_pics .title {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    color: #000;
    font-size: 20px;
    height: 20%;
    line-height: 45px;
    opacity: 0.5;
    padding-top: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

#event_thumbs {
    background: none repeat scroll 0 0 #fff;
    height: inherit;
    width: 98.2%;
    padding:    8px;
    position: absolute;
}

#event_thumbs .event {
    border: 0 none;
    height: 75px;
    padding-top: 5px;
    width: 105px;
    float: left;
}
#event_thumbs .selected {
    background-color: #000;
    opacity: 0;
    height: 80px;
    cursor:pointer;
    margin-top:-5px;
}

#event_thumbs img {
    float: left;
    padding-left: 10px;
    padding-top: 5px;
    width: 100px;
}
#event_thumbs .event_summary {
    padding: 5px;
    float:right;
    width:75px;
    overflow:hidden;
    height:60px;
}
